* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.container {
  background: #fff;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  width: 500px;
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.text-display {
  background: #ebe4e4;
  border-radius: 10px;
  padding: 20px;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
  border: 1px solid #ddd;
}

.text-display span.correct {
  color: green;
}

.text-display span.incorrect {
  color: red;
  text-decoration: underline;
}

#text-input {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid #ccc;
  outline: none;
  resize: none;
  margin-bottom: 20px;
}

#text-input:focus {
  border-color: #667eea;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-weight: 600;
  color: #444;
}

button {
  padding: 10px 20px;
  background: #6079eb;
  color: rgb(247, 241, 241);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background: #5563c1;
}
